<!-- dfgdfg -->

<style>
    .khung_hoaqua {
        display: block;
        margin-bottom: 11%;
        max-width: 800px;
        position: relative;
        float: left;
        margin-right: -3%;
    }



    .miniHoaqua-show {
        font-weight: 700;
        position: absolute;
        z-index: 101;
        height: 0px;
        width: 100%;
        margin-top: 5%;
        margin-left: 10%;
    }

    .game-miniHoaqua {
        height: 0;
        width: 100%;
        font-weight: 700;
    }

    @-webkit-keyframes slidewildy {
        from {
            background-position-y: 0%;
        }

        to {
            background-position-y: -175%;
        }
    }

    @-moz-keyframes slidewildy {
        from {
            background-position-y: 0%;
        }

        to {
            background-position-y: -175%;
        }
    }

    @-ms-keyframes slidewildy {
        from {
            background-position-y: 0%;
        }

        to {
            background-position-y: -175%;
        }
    }

    @-o-keyframes slidewildy {
        from {
            background-position-y: 0%;
        }

        to {
            background-position-y: -175%;
        }
    }

    @keyframes slidewildy {
        from {
            background-position-y: 0%;
        }

        to {
            background-position-y: -175%;
        }
    }



    #game-miniHoaqua #khung_hoaqua {
        position: relative;
        margin: auto;
    }





    .khung_hoaqua .button-hoaqua {
        right: 0;
        top: 4%;
        z-index: 2;
        width: 8.5%;
        position: absolute;
        cursor: pointer;
    }

    .khung_hoaqua .button-hoaqua img {
        width: 100%;
        cursor: pointer;
        z-index: 100;
        position: absolute;
    }


    .khung_hoaqua .mucdat-button {
        right: 0;
        top: 4%;
        z-index: -1;
        width: 9.5%;
        position: absolute;
        cursor: pointer;
    }

    .khung_hoaqua .mucdat-button img {
        width: 100%;
        cursor: pointer;
        z-index: 100;
        position: absolute;
    }


    .khung_hoaqua .clogame {
        margin-left: -377%;
        margin-top: 49%;
    }

    .khung_hoaqua .top-game {
        margin-left: -624%;
        margin-top: 23%;
    }

    .khung_hoaqua .help-game {
        margin-left: -546%;
        margin-top: 23%;
    }



    .khung_hoaqua .his-game {
        margin-left: -462%;
        margin-top: 23%;
    }

    .khung_hoaqua .mucdat .item {
        z-index: 50;
        float: left;
        width: 30.8%;
        height: 46%;
        margin: 1%;
        position: relative;
    }

    .khung_hoaqua .mucdat .item-button {
        z-index: 50;
        width: 47%;

    }


    .khung_hoaqua .mucdat-button #cuoc_1m {
        margin-left: -1023%;
        margin-top: 115%;
    }

    .khung_hoaqua .mucdat-button #cuoc_5m {
        margin-left: -1038%;
        margin-top: 196%;
    }

    .khung_hoaqua .mucdat-button #cuoc_50m {
        margin-left: -1038%;
        margin-top: 278%;
    }

    .khung_hoaqua .mucdat-button #cuoc_100m {
        margin-left: -1028%;
        margin-top: 363%;
    }

    .khung_hoaqua .mucdat-button img {
        width: 100%;
        cursor: pointer;
        z-index: 100;
        position: absolute;
    }

    @media screen and (max-width: 1000px) {
        .hu-hoaqua {
            font-size: 2.17vw;
        }
    }

    @media screen and (max-width: 900px) {
        .hu-hoaqua {
            font-size: 2.5vw;
        }
    }

    @media screen and (max-width: 600px) {
        .hu-hoaqua {
            font-size: 2.82vw;
        }
    }

    .list-qua {
        position: absolute;
        width: 76%;
        height: 59%;
        margin-top: 16%;
        margin-left: 2.8%;
    }

    .khung_hoaqua .list-qua .item-qua {
        z-index: 50;
        float: left;
        width: 27%;
        margin: 3%;
        margin-top: 12%;
    }

    .khung_hoaqua .list-qua .item-qua-quay img {
        opacity: 0;
    }

    .khung_hoaqua .list-qua .item-qua-quay {
        z-index: 50;
        float: left;
        width: 27%;
        height: 94%;
        margin: 3%;
        margin-top: 2%
    }

    .item-qua-quay.active {
        -webkit-border-radius: 19px;
        -moz-border-radius: 7px;
        background: url(../wild/quay.png) 100% 0% /100% repeat-y;
        display: block;
        animation: slidewildy 0.2s linear 0s infinite;
        -webkit-animation: slidewildy 0.5s linear 0s infinite;
        -moz-animation: slidewildy 0.5s linear 0s infinite;
        -ms-animation: slidewildy 0.5s linear 0s infinite;
        -o-animation: slidewildy 0.5s linear 0s infinite;
    }


    .xxxxxxxquay {
        position: absolute;
        right: 2%;
        top: 53%;
        width: 22%;
    }

    .xxxxxxxquay.active img {
        opacity: 0;
    }

    .xxxxxxxquay.active {
        -moz-border-radius: 7px;
        background: url(../wild/x/xquay.png) 77% 0% /65% repeat-y;
        display: block;
        animation: slidewildy 0.2s linear 0s infinite;
        -webkit-animation: slidewildy 0.5s linear 0s infinite;
        -moz-animation: slidewildy 0.5s linear 0s infinite;
        -ms-animation: slidewildy 0.5s linear 0s infinite;
        -o-animation: slidewildy 0.5s linear 0s infinite;
    }

    .xxxxxxx {
        position: absolute;
        right: 2%;
        top: 55%;
        width: 17%;
    }

    .img-wild-animation {
        position: absolute;
        right: 2%;
        top: 30%;
        width: 17%;
        animation-name: animation-ico-wild;
        animation-duration: 2s;
        transform-origin: 50% 50%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }

    @keyframes animation-ico-wild {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1.05, 1.05);
        }

        to {
            transform: scale(1, 1);
        }
    }

    .btn-spin {
        position: absolute;
        right: 10%;
        top: 81%;
        width: 12.5%;
        cursor: pointer;
        z-index: 100;
    }

    .khung_hoaqua .action-bottom {
        position: absolute;
        width: 62%;
        margin-top: 59%;
        margin-left: 10.2%;
    }

    .khung_hoaqua .action-bottom .button-bottom-hoaqua {
        z-index: 50;
        float: left;
        width: 15%;
        position: relative;
        margin: 0.5%;
    }
</style>

<div id="game-miniHoaqua" style="display: block;" style="left: 45px; top: 194.75px;"
    class="miniHoaqua-show ui-draggable actigame">
    <div id="khung_hoaqua">

        <div class="khung_hoaqua">
            <div class="move-here ui-draggable-handle" style="position:absolute;width: 100%;height: 100%;z-index: 1;">
                <div class="note_here_hoaqua font_size_18"
                    style="position: absolute;display: flex;width: 60%;height:22%;top: 40%;text-align: center;z-index:50;">
                </div>
            </div>

            <div class="mucdat-button">
                <img width="100%" id="cuoc_1m" onclick="SelectMoneyBet(1)" alt="cltx nro cltx 9sao.me"
                    src="/wild/button/1off.png">
                <img width="100%" id="cuoc_5m" onclick="SelectMoneyBet(2)" alt="cltx nro cltx 9sao.me"
                    src="/wild/button/5off.png">
                <img width="100%" id="cuoc_50m" onclick="SelectMoneyBet(3)" alt="cltx nro cltx 9sao.me"
                    src="/wild/button/50off.png">
                <img width="100%" id="cuoc_100m" onclick="SelectMoneyBet(4)" alt="cltx nro cltx 9sao.me"
                    src="/wild/button/100off.png">

            </div>


            <div class="button-hoaqua">
                <img class="clogame" alt="cltx nro cltx 9sao.me" src="/wild/button/close.png">
                <img class="help-game" alt="cltx nro cltx 9sao.me"
                    src="/wild/button/504931d7-3b2a-4929-9b54-5f809567947b.png">
                <img class="his-game" alt="cltx nro cltx 9sao.me"
                    src="/wild/button/935bc9ab-86a7-46a6-89cc-5db015da7077.png">
                <img class="top-game" alt="cltx nro cltx 9sao.me"
                    src="/wild/button/bf58e072-b7a5-42c7-a81d-7d6d42b362ac.png">
            </div>




            <div class="font_size_20" style="position:absolute;width: 80%;height: 100%;">



                <div class="list-qua">




                    <div class="item-qua" id="qua_1">
                        <img alt="cltx nro cltx 9sao.me" width="100%" id="img_qua_1" height="100%"
                            src="/wild/qua/777.png">

                    </div>
                    <div class="item-qua" id="qua_2">
                        <img alt="cltx nro cltx 9sao.me" width="100%" id="img_qua_2" height="100%"
                            src="/wild/qua/cam.png">
                    </div>
                    <div class="item-qua" id="qua_3">
                        <img alt="cltx nro cltx 9sao.me" width="100%" id="img_qua_3" height="100%"
                            src="/wild/qua/duahau.png">
                    </div>
                </div>








                <div class="hu-hoaqua" style="position: absolute;left: 17%;top: 12%;">
                    <div id="hu-hoaqua" style="
                        color: #ffff00;
                        text-shadow: 0 0 8px black, 0 0 8px #000;
                        text-align: center;
                        font-weight: bolder;
                    ">999.999.999</div>
                </div>




                <div class="action-bottom">
                    <div onclick="SieuTocButton()" class="button-bottom-hoaqua" style="width: 25%;cursor: pointer;">
                        <img alt="cltx nro cltx 9sao.me" id="img-sieutoc-hoaqua" width="100%" height="100%"
                            src="/wild/button/sieu-toc-on.png">
                    </div>
                    <div class="button-bottom-hoaqua" style="width: 46%;">
                        <div class="tienwin-hoaqua" style="
                        margin-top: 8%;
                        color: #ffff00;
                        text-shadow: 0 0 8px black, 0 0 8px #000;
                        text-align: center;
                        font-weight: bolder;
                    ">0</div>
                    </div>
                    <div onclick="AutoSpinButton()" class="button-bottom-hoaqua" style="width: 25%;cursor: pointer;">
                        <img alt="cltx nro cltx 9sao.me" id="img-auto-hoaqua" width="100%" height="100%"
                            src="/wild/button/auto-on.png">
                    </div>

                </div>


                <div onclick="SpinButton()" class="btn-spin">
                    <img alt="cltx nro cltx 9sao.me" id="img-spin" width="100%" height="100%"
                        src="/wild/button/spin.png">
                </div>


                <div class="img-wild-animation">
                    <img alt="cltx nro cltx 9sao.me" id="img-wild-animation" width="100%" height="100%"
                        src="/wild/qua/wild.png">
                </div>

                <div class="xxxxxxx" id="xxxxxxx">
                    <img alt="cltx nro cltx 9sao.me" id="img-xxxxxxx" width="100%" height="100%" src="/wild/x/1.png">
                </div>






            </div>
            <img alt="cltx nro cltx 9sao.me" src="/wild/banslot.png" width="80%">
        </div>
    </div>
</div>

<div class="modal fade" id="lichsuHoaQua" tabindex="-1" aria-labelledby="modalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbartx">
                    <table class="table table-sm text-center mt-1" style="width:100%;white-space: nowrap;"
                        id="lshoaquatb">
                        <thead>
                            <tr class="bg bg-danger text-white">
                                <th>Thời gian</th>
                                <th>Mức cược</th>
                                <th>Vàng thắng</th>
                                <th>Kết quả quay</th>
                                <th>Trước</th>
                                <th>Sau</th>
                            </tr>
                        </thead>
                        <tbody id="his-poke">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="topwinHoaQua" tabindex="-1" aria-labelledby="modalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbartx">
                    <table class="table table-sm text-center mt-1" style="width:100%;white-space: nowrap;">
                        <thead>
                            <tr class="bg bg-danger text-white">
                                <th>Hạng</th>
                                <th>Tên</th>
                                <th>Tổng thắng</th>
                            </tr>
                        </thead>
                        <tbody id="tbtopwinhoaqua">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="topnohuhoaqua" tabindex="-1" aria-labelledby="modalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbartx">
                    <table class="table table-sm text-center mt-1" style="width:100%;white-space: nowrap;">
                        <thead>
                            <tr class="bg bg-danger text-white">
                                <th>Thời gian</th>
                                <th>Tên</th>
                                <th>Mức cược</th>
                                <th>Vàng thắng</th>
                                <th>Kết quả quay</th>
                            </tr>
                        </thead>
                        <tbody id="tbnohuhoaqua">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalHuongDanHoaQua" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Hướng dẫn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Hướng dẫn chơi hoa quả</strong>
                <br>
                <img src="/wild/qua/wild.png" width="40px" alt="9sao.me">
                Thay thế cho tất cả các biểu tượng
                <br>
                <hr>
                - Cuộn WILD bên phải sẽ quay khi bạn thắng trả thưởng với biểu tượng <img src="/wild/qua/wild.png"
                    width="34px" alt="9sao.me">
                <br>
                <hr>

                - Hệ số nhân sẽ xuất hiện khi cuộn WILD quay và giá trị lớn nhất là X3
                <br>
                <hr>

                - Nếu bạn quay được 2 biểu tượng <img src="/wild/qua/wild.png" width="34px" alt="9sao.me"> thì bạn sẽ
                được quay 2 lần và tiền thưởng sẽ nhân cho 2 lần quay đó
                <br>
                <hr>

                <strong>-Nổ hũ</strong>
                bạn sẽ nổ hũ khi quay được: <img src="/wild/qua/wild.png" width="34px" alt="9sao.me"> <img
                    src="/wild/qua/wild.png" width="34px" alt="9sao.me"> <img src="/wild/qua/wild.png" width="34px"
                    alt="9sao.me">
                <br> Vàng thắng = Tiền hũ * hệ số nhân /27
                <br>
                Cuộn wild cũng sẽ quay 3 lần khi nổ hũ
                <br>
                hệ số nhân là tích của 3 lần quay cuộn Wild
                <br>
                <hr>
                <center>
                    <b>DANH SÁCH VÀ ITEM VÀ ĐIỀU KIỆN TRÚNG THƯỞNG</b>
                    <br>

                    <img src="/wild/help.png" width="270px" alt="help9sao">
                    <br>
                    <b>Tổ hợp trúng thưởng theo quy tắc: bắt đầu từ cột thứ nhất, liên tiếp nhau và tính từ trái qua
                        phải</b>
                </center>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
