<!-- dfgdfg -->

<style>
    .khung_xocdia {
        display: block;
        margin-bottom: 11%;
        max-width: 800px;
        position: relative;
        float: left;
        margin-right: -3%;
        width: 120%;
    }


    .xocdia-show.actigame {
        z-index: 500 !important;
    }

    .xocdia-show {
        font-weight: 700;
        position: absolute;
        height: 0px;
        z-index: 100;

        width: 100%;
        margin-top: 5%;
        margin-left: 10%;
    }

    .game-xocdia {
        height: 0;
        width: 100%;
        font-weight: 700;
    }


    #game-xocdia #khung_xocdia {
        position: relative;
        margin: auto;
    }



    .khung_xocdia .button-xocdia {
        right: -5%;
        top: 11%;
        z-index: 2;
        width: 7.5%;
        position: absolute;
        cursor: pointer;
    }

    .khung_xocdia .button-xocdia img {
        width: 77%;
        cursor: pointer;
        z-index: 100;
        position: absolute;
    }

    .khung_xocdia .clogame {
        margin-left: -352%;
        margin-top: 92%;
    }

    .khung_xocdia .top-game {
        margin-left: -624%;
        margin-top: 23%;
    }

    .khung_xocdia .help-game {
        margin-left: -525%;
        margin-top: 20%;
    }

    .khung_xocdia .his-game {
        margin-left: -425%;
        margin-top: 35%;
    }

    .khung_xocdia .soi-cau {
        margin-left: -1281%;
        margin-top: 377%;
    }

    .khung_xocdia .nan {
        margin-left: -350%;
        margin-top: 377%;
    }



    .khung_xocdia .view-cau-xocdia-bar {
        float: left;
        /* text-align: center; */
        margin-left: 17.7%;
        margin-top: 52.4%;
        /* height: 14.9%; */
        /* margin-bottom: -1%; */
        padding: 2.05% 0;
        width: 64.5%;
    }

    .khung_xocdia .view-cau-xocdia {
        float: left;
        text-align: center;
        position: absolute;
        width: 86%;
        /* height: 70%; */
        margin-top: 54.1%;
        margin-left: 18.8%;
    }

    .khung_xocdia .view-cau-xocdia .cau-xocdia {
        z-index: 50;
        float: left;
        width: 4.6%;
        margin: 0.1%;
        position: relative;
    }

    .khung_xocdia .view-cau-xocdia .cau-xocdia img {

        width: 100%;
    }

    .head-main {
        position: absolute;
        width: 79%;
        height: 30%;
        margin-top: 19.5%;
        margin-left: 11.1%;
    }

    .four-vuong {
        position: absolute;
        width: 79%;
        height: 30%;
        margin-top: 36.5%;
        margin-left: 11.1%;
    }

    .xocAnima {
        -webkit-animation: xocxocAnimation 0.05s infinite alternate;
    }

    @keyframes xocxocAnimation {
        0% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(1.5deg);
        }

        100% {
            transform: rotate(3deg);

        }

    }



    .nhapnhay {
        animation: blinker 0.5s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    .o-cuoc {
        cursor: pointer;
        z-index: 1;
        position: absolute;
    }

    #khung_xocdia .dia-kq .hot_xd {
        width: 21.7%;
        position: absolute;
        height: 20%;
        margin-left: 1%;
        color: #000000;
        font-weight: 900;

    }

    #khung_xocdia .dia-kq div:nth-child(1) {
        left: 25%;
        top: 22%;
    }

    #khung_xocdia .dia-kq div:nth-child(2) {
        left: 52%;
        top: 25%;
    }

    #khung_xocdia .dia-kq div:nth-child(3) {
        left: 27%;
        top: 48%;
    }

    #khung_xocdia .dia-kq div:nth-child(4) {
        left: 55%;
        top: 49%;
    }

    #khung_xocdia .dia-kq div[data-txt='1'] {
        background: url(/xocdia/quanDo.png) 0% 0% /100% 100%;
    }

    #khung_xocdia .dia-kq div[data-txt='2'] {
        background: url(/xocdia/quanDen.png) 0% 0% /100% 100%;
    }
</style>
<div id="game-xocdia" style="display: block;" style="left: 45px; top: 194.75px;"
    class="xocdia-show ui-draggable actigame">
    <div id="khung_xocdia">

        <div class="khung_xocdia">
            <div class="move-here ui-draggable-handle" style="position:absolute;width: 100%;height: 100%;z-index: 1;">
                <div class="note_here_hoaqua font_size_18"
                    style="position: absolute;display: flex;width: 60%;height:22%;top: 40%;text-align: center;z-index:50;">
                </div>
            </div>



            <div class="button-xocdia">
                <img class="clogame" style="width: 119%;" alt="xóc đĩa 9sao.me" src="/xocdia/btn-close.png">
                <img class="help-game" alt="xóc đĩa 9sao.me" src="/xocdia/btn-help.png">
                <img class="his-game" alt="xóc đĩa 9sao.me" src="/xocdia/btn-history.png">
                <img class="top-game" alt="xóc đĩa 9sao.me" src="/xocdia/btn-honor.png">
                <img class="soi-cau" style="width: 100%;" alt="xóc đĩa 9sao.me" src="/xocdia/btn-soicau.png">
                <img class="nan" style="width: 100%;" alt="xóc đĩa 9sao.me" src="/xocdia/btn-nan.png">
            </div>


            <div class="font_size_20" style="position:absolute;width: 80%;height: 100%;">

                <div class="chan-wrap o-cuoc" style="width: 26%;margin-left: 13.35%;margin-top: 20.1%;">
                    <img alt="9sao.me" class="nhapnhay" src="/xocdia/to-win.png" style="width: 100%;">
                </div>


                <div class="le-wrap o-cuoc" style="width: 26%;margin-left: 62.31%;margin-top: 20.1%;">
                    <img alt="9sao.me" class="nhapnhay" src="/xocdia/to-win.png" style="width: 100%;">
                </div>



                <div class="o-4-chan o-cuoc" style="width: 20%;margin-left: 12.6%;margin-top: 36.8%;">
                    <img alt="9sao.me" class="nhapnhay" src="/xocdia/be-win.png" style="width: 100%;">
                </div>
                <div class="o-4-le o-cuoc" style="width: 20%;margin-left: 31.4%;margin-top: 36.8%;">
                    <img alt="9sao.me" class="nhapnhay" src="/xocdia/be-win.png" style="width: 100%;">
                </div>
                <div class="o-3-le o-cuoc" style="width: 20%;margin-left: 50.2%;margin-top: 36.8%;">
                    <img alt="9sao.me" class="nhapnhay" src="/xocdia/be-win.png" style="width: 100%;">
                </div>
                <div class="o-3-chan o-cuoc" style="width: 20%;margin-left: 68.8%;margin-top: 36.8%;">
                    <img alt="9sao.me" class="nhapnhay" src="/xocdia/be-win.png" style="width: 100%;">
                </div>



                <div class="dia-kq" style="position: absolute;width: 23.5%;margin-left: 38.8%;height: 25%;margin-top: 23.7%;position: absolute;background: url(/xocdia/dia.png) 0% 0% / 100% 100%;">
                    <div class="hot_xd" data-txt="1"></div>
                    <div class="hot_xd" data-txt="2"></div>
                    <div class="hot_xd" data-txt="2"></div>
                    <div class="hot_xd" data-txt="1"></div>
                </div>

                <div class="dia-bat" style="
                width: 23%;
                margin-left: 39%;
                margin-top: 23.8%;
                position: absolute;
            ">
                                <img style="width: 100%;" alt="soi cai xoc dia 9sao.me" src="/xocdia/dia.png">
            
                            </div>



                <div class="view-cau-xocdia-bar">
                    <img style="width: 100%;" alt="soi cai xoc dia 9sao.me" src="/xocdia/bg-soicau.png">

                </div>

                <div class="view-cau-xocdia">

                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>

                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                    </div>
                    <div class="cau-xocdia">
                        <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                    </div>


                </div>

            </div>
            <img alt="cltx nro cltx 9sao.me" src="/xocdia/xocdia.png" width="80%">
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $('#game-xocdia')['draggable']({
            start: function () {
                $('.actigame')['removeClass']('actigame');
                $(this)['addClass']('actigame')
            },
            cancel: '.group-button',
            handle: '.move-here'
        });
    })
</script>