<link href="taixiu/css/xocdia.css" rel="stylesheet">
<div class="main-game">


    <div id="game-xocdia" style="display: block;" style="left: 45px; top: 194.75px;"
        class="xocdia-show ui-draggable actigame">
        <div id="khung_xocdia">

            <div class="khung_xocdia">



                <div class="note_here_xocdia font_size_20"
                    style="position: absolute;display: flex;width: 100%;top: 55%;text-align: center;z-index: 10000;">
                </div>
                <div class="move-here ui-draggable-handle"
                    style="position:absolute;width: 100%;height: 100%;z-index: 1;">

                </div>



                <div class="button-xocdia">
                    <img class="clogame" style="width: 119%;" alt="xóc đĩa 9sao.me" src="/xocdia/btn-close.png">
                    <img class="help-game" alt="xóc đĩa 9sao.me" src="/xocdia/btn-help.png">
                    <img class="his-game" alt="xóc đĩa 9sao.me" src="/xocdia/btn-history.png">
                    <img class="top-game" alt="xóc đĩa 9sao.me" src="/xocdia/btn-honor.png">
                    <img class="soi-cau" style="width: 100%;" alt="xóc đĩa 9sao.me" src="/xocdia/btn-soicau.png">
                    <img id="button-nan-xocdia" class="nan" style="width: 100%;" alt="xóc đĩa 9sao.me"
                        src="/xocdia/btn-nan.png">
                </div>


                <div class="font_size_20" style="position:absolute;width: 80%;height: 100%;">


                    <div style="    width: 14%;position: absolute;left: 56%;top: 57%;text-align: center;z-index: 1;">
                        <p class="time-wait-xocdia"
                            style="display: block;background: rgb(0 0 0 / 32%);color: #00c0ef;padding: 0px 14px;text-align: center;border-radius: 6px;">
                            15</p>
                    </div>

                    <div style="width: 23.5%;margin-left: 38.8%;">
                        <div class="ongthan-xd">

                        </div>

                    </div>


                    <!-- chẵn -->
                    <div class="chan-wrap-xd o-cuoc">
                        <div style="
                        margin-left: 12%;
                        margin-top: 7.5%;
                        position: absolute;
                        color: #ffffff;
                    " id="xd-cuoc-chan"></div>
                        <div style="
                    margin-left: 63%;
                    margin-top: 43.5%;
                    position: absolute;
                    color: #ffc56f;
                    width: 15%;
                    text-align: right;
                " id="xd-player-chan">0</div>
                        <div class="font_size_25" style="
                        margin-left: 11%;
                        margin-top: 42.5%;
                        position: absolute;
                        color: #ffc56f;
                    " id="xd-gold-chan"></div>

                    </div>
                    <div onclick="cuoc_xocdia('chan')" class="chan-wrap-xd chan-wrap-xd-v o-cuoc "> </div>
                    <!-- chẵn -->


                    <!--  lẻ  -->
                    <div class="le-wrap-xd o-cuoc">
                        <div style="
                    margin-left: 12%;
                    margin-top: 7.5%;
                    position: absolute;
                    color: #ffffff;
                " id="xd-cuoc-le"></div>
                        <div style="
                    margin-left: 64%;
                    margin-top: 44.5%;
                    position: absolute;
                    color: #ffc56f;
                    width: 15%;
                    text-align: right;
                " id="xd-player-le">0</div>
                        <div class="font_size_25" style="
                        margin-left: 11%;
                        margin-top: 42.5%;
                        position: absolute;
                        color: #ffc56f;
                    " id="xd-gold-le"></div>
                    </div>
                    <div onclick="cuoc_xocdia('le')" class="le-wrap-xd le-wrap-xd-v o-cuoc"></div>
                    <!--  lẻ  -->



                    <!-- 4 chẵn đỏ -->
                    <div class="o-4-chan o-cuoc">
                        <div style="
                    margin-left: 12%;
                    margin-top: 7.5%;
                    position: absolute;
                    color: #ffffff;
                " id="xd-cuoc-4do"></div>
                        <div id="xd-gold-4do" style="
                   margin-left: 14%;
                   margin-top: 51.5%;
                   position: absolute;
                   color: #ffc56f;
                "></div>
                        <div id="xd-player-4do" style="
                    margin-left: 55%;
    margin-top: 51.5%;
    position: absolute;
    color: #ffc56f;
    text-align: right;
    width: 20%;
                ">0</div>
                    </div>
                    <div onclick="cuoc_xocdia('chan4do')" class="o-4-chan o-4-chan-v o-cuoc"></div>
                    <!-- 4 chẵn đỏ -->



                    <!-- 4 chẵn đen -->
                    <div class="o-4-le o-cuoc">
                        <div id="xd-cuoc-4den" style="
                    margin-left: 12%;
                    margin-top: 7.5%;
                    position: absolute;
                    color: #ffffff;
                "></div>
                        <div id="xd-gold-4den" style="
                   margin-left: 13%;
                    margin-top: 54.5%;
                    position: absolute;
                    color: #ffc56f;
                "></div>
                        <div id="xd-player-4den" style="
                    margin-left: 55%;
                    margin-top: 54.5%;
                    position: absolute;
                    color: #ffc56f;
                    text-align: right;
                    width: 20%;
                ">0</div>
                    </div>
                    <div onclick="cuoc_xocdia('chan4den')" class="o-4-le o-4-le-v o-cuoc"></div>
                    <!-- 4 chẵn đen -->



                    <!-- 3 ẻ đen -->
                    <div class="o-3-le o-cuoc">
                        <div style="
                    margin-left: 12%;
                    margin-top: 7.5%;
                    position: absolute;
                    color: #ffffff;
                " id="xd-cuoc-3den"></div>
                        <div style="
                   margin-left: 13%;
                    margin-top: 54.5%;
                    position: absolute;
                    color: #ffc56f;
                " id="xd-gold-3den"></div>
                        <div style="
                    margin-left: 55%;
                    margin-top: 54.5%;
                    position: absolute;
                    color: #ffc56f;
                    width: 20%;
                    text-align: right;
                " id="xd-player-3den">0</div>
                    </div>
                    <div onclick="cuoc_xocdia('le3den')" class="o-3-le o-3-le-v o-cuoc"> </div>
                    <!-- 3 ẻ đen -->



                    <!-- 3 lẻ đỏ-->
                    <div class="o-3-chan o-cuoc">
                        <div id="xd-cuoc-3do" style="
                    margin-left: 12%;
                    margin-top: 7.5%;
                    position: absolute;
                    color: #ffffff;
                "></div>
                        <div style="
                   margin-left: 13%;
                    margin-top: 54.5%;
                    position: absolute;
                    color: #ffc56f;
                " id="xd-gold-3do"></div>
                        <div style="
                    margin-left: 56%;
                    width: 20%;
                    margin-top: 54.6%;
                    position: absolute;
                    text-align: right;
                    color: #ffc56f;
                " id="xd-player-3do">0</div>
                    </div>
                    <div onclick="cuoc_xocdia('le3do')" class="o-3-chan o-3-chan-v o-cuoc"></div>
                    <!-- 3 lẻ đỏ-->




                    <div class="dia-kq"
                        style="position: absolute;width: 28.5%;margin-left: 49.3%;height: 24%;margin-top: 30.7%;position: absolute;background: url(/xocdia/dia.png) 0% 0% / 100% 100%;">
                        <div class="hot_xd hot_xd1" data-txt="1"></div>
                        <div class="hot_xd hot_xd2" data-txt="2"></div>
                        <div class="hot_xd hot_xd3" data-txt="2"></div>
                        <div class="hot_xd hot_xd4" data-txt="1"></div>
                    </div>

                    <div class="dia-bat"
                        style="position: absolute;width: 28.5%;/* display: none; */margin-left: 49.3%;height: 24.1%;margin-top: 30.7%;position: absolute;background: url(/xocdia/dia.png) 0% 0% / 100% 100%;">
                        <img src="/xocdia/bat.png" alt=""
                            style="width: 78%;margin-left: 11%;margin-top: -14%;/* display: none; */">
                    </div>


                    <div class="thanUpDown zoom1"
                        style="position: absolute;width: 24%;margin-left: 28.8%;margin-left: 41.%;z-index: 0;height: 17%;margin-top: 6.2%;position: absolute;background: url(/xocdia/than.png) 0% 0% / 100% 100%;">
                    </div>
                    <div class="thanUpDown zoom2"
                        style="position: absolute;width: 19%;margin-left: 52.6%;margin-left: 41.%;z-index: 0;height: 13%;margin-top: 9.5%;position: absolute;background: url(/xocdia/xox.png) 0% 0% / 100% 100%;">
                    </div>


                    <div class="than-ngu thanUpDown"
                        style="position: absolute;/* display: none; */width: 20%;margin-left: 13.3%;margin-left: 41.%;z-index: -1;height: 31%;margin-top: -1.5%;position: absolute;background: url(/xocdia/thanngu.png) 0% 0% / 100% 100%;">
                    </div>


                    <div class="tay-than thanQuayTay"
                        style="width: 9%;margin-left: 16.1%;z-index: -3;height: 19%;margin-top: 19%;position: absolute;background: url(/xocdia/tay.png) 0% 0% / 100% 100%;">
                    </div>

                    <div class="bat-drop ui-draggable ui-draggable-handle"
                        style="z-index: 51; cursor: pointer; width: 22.3%; margin-left: 41.5%; height: 22.4%; margin-top: 20.5%; position: absolute; background: url(&quot;/xocdia/bat.png&quot;) 0% 0% / 100% 100%; left: 69.6875px; top: 39.4375px;">
                    </div>


                    <div class="view-cau-xocdia-bar">
                        <img style="width: 100%;" alt="soi cai xoc dia 9sao.me" src="/xocdia/bg-soicau.png">

                    </div>


                    <div id="clock-xocdia" style="
                    position: absolute;
                    width: 24.5%;             
                    margin-left: 51%;
                    margin-top: 31.7%;
                    text-align: center;">

                    </div>



                    <div class="view-cau-xocdia">

                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>

                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/do.png">

                        </div>
                        <div class="cau-xocdia">
                            <img alt="soi cai xoc dia 9sao.me" src="/xocdia/den.png">

                        </div>


                    </div>

                </div>
                <img alt="cltx nro cltx 9sao.me" src="/xocdia/xocdia2.png" width="100%">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalcuoc-xocdia" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div id="typecuocXocDia">

                </div>
                <br>
                <div class="input-group form-group">
                    <span class="input-group-prepend" style="border-right: 1px solid red;">
                        <div class="input-group-text bg-light border-right-1"><i style="color: red;"
                                class="fa fa-coins"></i>
                        </div>
                    </span>
                    <input class="form-control py-2 border-left-0 border" style="font-weight: bold;" type="search"
                        value="" id="goldXocDia" placeholder="Nhập số vàng đặt cược">
                </div>
                <div class="col text-center">
                    <button onclick="SelectGoldXocDia(1)" class="btn btn-sm btn-primary font-weight-bold">
                        10M</button>
                    <button onclick="SelectGoldXocDia(2)" class="btn btn-sm btn-primary font-weight-bold">
                        50M</button>
                    <button onclick="SelectGoldXocDia(3)" class="btn btn-sm btn-primary font-weight-bold">
                        100M</button>
                    <button onclick="SelectGoldXocDia(4)" class="btn btn-sm btn-primary font-weight-bold">
                        500M</button>
                    <button onclick="SelectGoldXocDia(5)" class="btn btn-sm btn-primary font-weight-bold">
                        1000M</button>
                    <button onclick="SelectGoldXocDia(6)" class="btn btn-sm btn-danger font-weight-bold">
                        Xóa</button>
                </div>
                <div class="col  mt-2 text-center">
                    <button onclick="SelectGoldXocDia(7)"
                        class="col-lg-5 btn btn-sm btn-warning text-white font-weight-bold">
                        Đặt ngay</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cuocsModal-xocdia" tabindex="-1" aria-labelledby="modalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-wrapper-scroll-y my-custom-scrollbartx">
                    <table class="table table-sm text-center mt-1" style="width:100%">
                        <tbody id="tablecuoc-xocdia">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="soicauModal-xocdia" tabindex="-1" aria-labelledby="modalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="
        background-color: #000000b3;
    ">
            <div class="modal-header">
                <h5 class="modal-title " style="
                color: cadetblue;
            " id="modalLabel">Soi cầu sóc đĩa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="text-center" style="width:100%">
                    <style>
                        #den-soicau {
                            width: 100%;
                        }

                        #do-soicau {
                            width: 100%;
                        }

                        #table-soicau-xocdia th {
                            padding: 4px;
                        }

                        #table-soicau-xocdia th {
                            border: 1px solid rgb(48, 41, 41);
                            border-collapse: collapse;
                        }

                        #table-soicau-xocdia td {
                            border: 1px solid rgb(48, 41, 41);
                            border-collapse: collapse;
                        }
                    </style>
                    <tbody id="table-soicau-xocdia">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalHelp-Xocdia" tabindex="-1" style="overflow: scroll; display: none;" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <img src="/xocdia/xocxoc-thele.png" alt="" style="
           background-color: black;width: 100%;position: relative;
       ">
    </div>
</div>