<footer class="container-fluid bg-dark text-left text-lg-start text-white"
  style="margin-top: 50px; font-family: 'Roboto';">
  <div class="container">
    <div class="row" id="row-footer" style="padding-right:0px; padding-left:0px">
      <div class="col-lg-6">
        <div class="mb-4 mb-md-0">


          
          <h5 class="text-uppercase">VỀ 9SAO.ME</h5>
          <p>
            Hệ thống Mini Game con số may mắn game Ngọc Rồng Online<br>
            Hoạt động tự động 100%<br>
            <a href="/" style="color: white"
              class="font-weight-bold">Điều khoản &amp; Quy định</a><br>
            <a href="https://www.facebook.com/9sao.me/" style="color: white" class="font-weight-bold">Chăm sóc
              khách hàng 24/24</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4 mb-md-0">
         
          <p style="margin-bottom: 0;">
        

          </p>
        </div>
      </div>
    </div>


    <div class="text-center"><small>Copyright 2021 © 9SAO.ME | All rights reserved</small></div>
  </div>
</footer>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "110397354618549");
  chatbox.setAttribute("attribution", "biz_inbox");
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v10.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


<script src="js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-186466568-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-186466568-1');
</script>
