
  <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">Trang này không tồn tại hoặc đã bị xóa.</p>
    <p class="output">Vui lòng <a href="/">Trở về trang chủ</a>.</p>
    <p class="output">9SAO.ME</p>
  </div>
    
    
