



.color-text {
    background-image: linear-gradient(to bottom, #e47602, #fdf5d9, #e47602);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: #f1d76b;
}

.class-input {
    border: 0 solid #fff;
    background: rgba(255, 255, 255, 0);
    text-align: center
}
.font_size_100 {
    font-size: 6.09vw;
}
@media(min-width:0px) and (max-width:480px) {
    .khung-tx {
        width: 100% !important
    }

    .chat-wrap {
        width: 100% !important;
        max-width: 250px !important;
        display: none !important
    }

    .khung-tx .font_size_35 {
        font-size: 5.5vw !important;
        font-weight: 700
    }

    .khung-tx .font_size_25 {
        font-size: 4.2vw !important;
        font-weight: 700
    }

    .khung-tx .font_size_18 {
        font-size: 3.7vw !important;
        font-weight: 700
    }

    .khung-tx .font_size_100 {
        font-size: 13.5vw !important;
        font-weight: 700
    }
}



#game-taixiu {

    height: 0;
    width: 100%;
    font-weight: 700
}

#game-taixiu #khung-tx {
    position: relative;
    margin: auto
}

.khung-tx {
    width: 55%;
    display: block;
    margin-bottom: 11%;
    max-width: 800px;
    position: relative;
    float: left;
    margin-right: -3%
}

.khung-tx .button-top {
    right: 0;
    top: 4%;
    z-index: 2;
    width: 7.5%;
    position: absolute;
    cursor: pointer
}

.khung-tx .button-top img {
    width: 100%;
    cursor: pointer;
    z-index: 100;
    position: absolute
}

.khung-tx .money-xiu,
.khung-tx .money-tai {
    color: #ff0;
    text-shadow: 0 0 8px black, 0 0 8px #000;
    text-align: center
}

.khung-tx .cuoc-xiu,
.khung-tx .cuoc-tai {
    color: #7aff00;
    text-shadow: 0 0 8px black, 0 0 8px #000;
    text-align: center;
    font-weight: 600;
    height: 18%;
    margin-top: 38%;
}

.khung-tx .user-xiu,
.khung-tx .user-tai {
    color: #fff !important;
    text-shadow: 0 0 8px black, 0 0 8px #000;
    text-align: center;
    height: 20%;
    margin-left: 0;
    width: 100%;
    margin-top: -2%;

}

.khung-tx .input-xiu,
.khung-tx .input-tai {
    color: transparent;
    text-shadow: 0 0 0 rgb(255, 255, 255);

    color: rgb(255, 255, 255) !important;
    font-weight: 600;
    position: absolute;
    text-align: center;
    height: 20%;
    margin-top: .5%;
    width: 23%;
    padding: 0;
    z-index: 49;
    cursor: pointer;
    outline: unset !important;
}

.khung-tx .input-cuoc-hide div {
    height: 60%;
    width: 97%;
    margin-top: 8%;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0)
}

.khung-tx .input-cuoc-hide.active div {
    animation: changesolid .35s infinite alternate;
    -webkit-animation: changesolid .35s infinite alternate;
    -moz-animation: changesolid .35s infinite alternate;
    -ms-animation: changesolid .35s infinite alternate;
    -o-animation: changesolid .35s infinite alternate
}

.placered::placeholder {
    color: rgb(255, 255, 255) !important;
}

.placered::-ms-placeholder {
    color: #ff0 !important;
}

.placered::-moz-placeholder {
    color: #ff0 !important;
}

.placered::-webkit-input-placeholder {
    color: #ff0 !important;
}

.placered::-o-input-placeholder {
    color: #ff0 !important;
}


.placewhite::placeholder {
    color: rgba(255, 255, 255, 0.8) !important
}

.placewhite::-ms-placeholder {
    color: rgba(255, 255, 255, 0.8) !important
}

.placewhite::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8) !important
}

.placewhite::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8) !important
}

.placewhite::-o-input-placeholder {
    color: rgba(255, 255, 255, 0.8) !important
}

.khung-tx .clock-big {
    text-shadow: 0 0 8px black, 0 0 8px #000;
    font-weight: 900;
    font-family: "Titan One", cursive;
    ;
    position: absolute;
    top: 46%;
    left: 49%;
    color: #dada25;
}

.khung-tx .btn-xiu,
.khung-tx .btn-tai {
    width: 6.5%;
    float: left;
    height: 110%;
    border: 0;
    background: url(/images/taixiu/ico_kq_xiu.png) 0 0 / cover no-repeat;
    margin: 0 .5%;
    cursor: pointer;
}

.khung-tx .btn-tai {
    background-image: url(/images/taixiu/ico_kq_tai.png)
}

.khung-tx .his {
    float: left;
    width: 57%;
    text-align: center;
    margin-left: 21.7%;
    margin-top: .4%;
    height: 14.8%;
    margin-bottom: -1%;
    padding: 2.05% 0
}

.khung-tx .group-button {
    float: left;
    width: 100%;
    text-align: center;
    height: auto;
    margin-top: 2%;
    display: none;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.khung-tx .group-button .button {
    cursor: pointer;
    width: 15.6%;
    height: 85%;
    float: left;
    margin: .25% .5%;
    background: url(/images/taixiu/chontien.png) 0 0 / cover no-repeat;
    position: relative;
    background-size: 100% 100%
}

.khung-tx .group-button .button.blue {
    height: 100%;
    width: 23%;
    margin-left: 16%;
    background-image: url(/images/taixiu/close.png)
}

.khung-tx .group-button .button.green {
    height: 100%;
    width: 23%;
    background-image: url(/images/taixiu/datcuoc.png)
}

.khung-tx .group-button .button.red {
    height: 100%;
    width: 23%;
    background-image: url(/images/taixiu/huy.png)
}

.khung-tx .group-button .middle {
    position: absolute;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 0 8px black, 0 0 8px #000
}

.khung-tx .group-button .middle:after {
    content: attr(data-txt)
}

.khung-tx .his div:hover~ :nth-child(14) {
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important
}

.khung-tx .his div:hover {
    animation: updown .5s infinite alternate;
    -webkit-animation: updown .5s infinite alternate;
    -moz-animation: updown .5s infinite alternate;
    -ms-animation: updown .5s infinite alternate;
    -o-animation: updown .5s infinite alternate
}

.khung-tx .his div:nth-child(14) {
    animation: updown .5s infinite alternate;
    -webkit-animation: updown .5s infinite alternate;
    -moz-animation: updown .5s infinite alternate;
    -ms-animation: updown .5s infinite alternate;
    -o-animation: updown .5s infinite alternate
}

.btn-cuocMoney {
    outline: 0;
    padding: .5%;
    color: #333;
    border-radius: 5px;
    background-color: #fff;
    border-color: #ccc;
    box-shadow: 0 0 5px 3px #000;
    border: 0 solid #000;
    font-weight: 900;
    cursor: pointer
}

.btn-cuocMoney:hover,
.btn-cuocMoney:focus {
    background-color: #673AB7 !important;
    color: #fff !important
}

.btn-tattay {
    outline: 0;
    transform: scale(0.95);
    padding: .5%;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 3px #000;
    border-radius: 5px;
    background-color: #f55541;
    border-color: #ccc;
    box-shadow: 0 0 5px 3px #000;
    border: 0 solid #000;
    font-weight: 900;
    cursor: pointer
}

.btn-cancel {
    outline: 0;
    transform: scale(0.95);
    padding: .5%;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 3px #000;
    border-radius: 5px;
    background-color: #f0ad4e;
    border-color: #ccc;
    box-shadow: 0 0 5px 3px #000;
    border: 0 solid #000;
    font-weight: 900;
    cursor: pointer
}

.btn-agree {
    outline: 0;
    transform: scale(0.95);
    padding: .5%;
    color: #fff;
    text-shadow: 0 0 3px black, 0 0 3px #000;
    border-radius: 5px;
    background-color: #00a65a;
    border-color: #ccc;
    box-shadow: 0 0 5px 3px #000, 0 0 5px 3px #000;
    border: 0 solid #000;
    font-weight: 900;
    cursor: pointer
}

.khung-tx .tai-wrap,
.khung-tx .xiu-wrap {
    width: 23%;
    height: 60%;
    float: left;
    margin-top: 5%;
}

.khung-tx .tai-wrap .money-tai,
.khung-tx .xiu-wrap .money-xiu {
    height: 20%;
    margin-top: 11%;
    width: 100%
}

.khung-tx .tai-wrap .icon,
.khung-tx .xiu-wrap .icon {
    background: url(/images/taixiu/tai_default.png) 0 0 /cover no-repeat;
    width: 60%;
    height: 28%;
    margin-left: 20%
}

.khung-tx .xiu-wrap .icon {
    background-image: url(/images/taixiu/xiu_default.png)
}

.khung-tx .tai-wrap .icon.kq {
    background-image: url(/images/taixiu/tai_on.png) !important;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-animation: zoomout .5s infinite alternate;
    -moz-animation: zoomout .5s infinite alternate;
    animation: zoomout .5s infinite alternate
}

.khung-tx .xiu-wrap .icon.kq {
    background-image: url(/images/taixiu/xiu_on.png) !important;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -webkit-animation: zoomout .5s infinite alternate;
    -moz-animation: zoomout .5s infinite alternate;
    animation: zoomout .5s infinite alternate
}

.khung-tx #vung-taixiu {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/images/taixiu/bat.png) 0 0 / cover no-repeat;
    border: 0 solid #fff;
    z-index: 51;
    cursor: pointer;
    display: none
}

.khung-tx .clock,
.khung-tx .clock img {
    position: absolute;
    width: 100%;
    height: 100%
}

.khung-tx #game-taixiu2 {

    width: 32%;
    height: 60%;
    float: left;
    margin-top: 10%;
    position: relative;
    background-position: center;
    background-size: 100%;
}

.khung-tx #game-taixiu2.nantx .vung {
    display: block
}

.khung-tx #game-taixiu2 #vung-taixiu .vung_number span {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.khung-tx #game-taixiu2 #vung-taixiu .vung_number {
    display: table;
    width: 30%;
    height: 32%;
    background: #000;
    border-radius: 50%;
    color: #fff;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

.khung-tx #game-taixiu2 .kq-num div {
    position: absolute
}

.khung-tx #game-taixiu2 .kq-num {
    position: absolute;
    height: 26%;
    width: 25%;
    margin-top: 15%;
    margin-left: 72%;
    opacity: 0;
    border: 2.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background: #FF5722;
    font-weight: bolder;
    color: #fff
}

.khung-tx #game-taixiu2 .roll-play {
    position: absolute;
    top: -23%;
    width: 100%;
    height: 22%;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px #000
}

.khung-tx #game-taixiu2 .clock-small {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 82%;
    width: 30%;

    left: 50%;
    text-align: center;
    color: red;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 15px
}

.khung-tx #game-taixiu2.time .vung,
.khung-tx #game-taixiu2.time .effect,
.khung-tx #game-taixiu2.time .clock-small,
.khung-tx #game-taixiu2.time .kq-num {}

.khung-tx #game-taixiu2.time .clock-big {
    display: block
}

.chat-wrap {
    width: 25%;
    display: block;
    max-width: 270px;
    position: relative;
    float: left
}

.chat-wrap.off {
    display: none
}

.chat-wrap .chat-content {
    height: 72%;
    overflow: hidden;
    padding: 10% 10% 0;
    position: relative
}

.chat-wrap .chat-inner {
    overflow: hidden;
    height: 100%
}

.chat-wrap .chat-footer {
    width: 93%;
    height: 14%;
    margin-top: 1%;
    background: none;
    font-size: 20px;
    font-weight: 600
}

.chat-wrap .chat-input {
    width: 100%;
    height: 100%;
    background: none;
    border: 0 solid #fff;
    padding: 0 12%;
    color: #fff;
    z-index: 49
}

.chat-wrap .chat-inner p {
    margin: 0;
    color: #fff;
    line-height: 1.05;
    cursor: default
}

.chat-wrap .chat-inner p .u-name {
    color: #CDDC39;
    font-weight: 400
}

.khung-tx .effect {
    background: url(/images/taixiu/ef.png) 0 0 / cover no-repeat;
    visibility: visible;
    z-index: 5;
    height: 100%;
    margin-top: -8%;
    opacity: 0
}

.khung-tx .his .tooltip_tx {
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 3px 15px;
    margin-top: 4%;
    left: 12.5%;
    white-space: nowrap;
    z-index: 49;
    display: none
}

.khung-tx .clogame {
    margin-left: -110%;
    margin-top: 38%
}

.khung-tx .wingame,
.khung-tx .allgame {
    margin-top: 150%;
    margin-left: -30%;
}

.khung-tx .hisgame {
    margin-top: 290%;
    margin-left: 7%;
}

.khung-tx .guigame {
    margin-top: 428%;
    margin-left: -26%;
}

.khung-tx .nangame {
    margin-top: 403%;
    margin-left: -464%;
}

@media (min-width: 991.98px) {

    .khung-tx .cuoc-xiu,
    .khung-tx .cuoc-tai {
        margin-top: 40%;
    }
}

@media (min-width: 0px) and (max-width: 480px) {
    .khung_game_show .font_size_20 {
        font-size: 3.2vw !important;
    }

}

@media (min-width: 0px) and (max-width: 480px) {
    .khung-tx .clock-big {
        font-family: 'Courier New', Courier, monospace;
        top: 51%;
    }
}

.input-tai,
.input-xiu {
    caret-color: transparent;
}